.container
  .row
    .col.s8.offset-s2
      %h2.blue-grey-text.text-darken-3 Sign in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        -# = render "devise/shared/error_messages", resource: resource
        .input-field
          = f.label "e-mail", for: "user_email", autocomplete: "off"
          = f.email_field :email
        .input-field
          = f.label "password", for: "user_password"
          = f.password_field :password, autocomplete: "new-password"
        = f.submit "Sign in", class: 'btn'